* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: black;
}
.title{
  font-size: xx-large;
}
.nav > li > a {
  color: white;
  text-decoration: none;
  font-size: larger;
}
.nav > li > a:hover {
  font-size: x-large;
}
