* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-color: #0a0e27;
  /* width: 1920px;
  height: 1080px;
  width: 100%;
  height: 100%; */
  padding-top: 80px;
}
.navbar {
  color: white;
  background-color: #06091a;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.container {
  padding: 20px;
}
.navbar > .container > .logo {
  font-size: x-large;
  font-weight: bold;
  text-align: left;
}
.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar > .container > .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
}
.navbar > .container > ul > li > a {
  margin: 10px;
  padding: 5px;
}
ul {
  list-style-type: none;
}
.nav > li > a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.nav > li > a:hover {
  text-decoration: underline;
  color: #03ff40;
  /* background-color: lawngreen; */
  font-size: larger;
}
.content {
  display: flex;
  flex-direction: row;
}
.left {
  width: 1152px;
  height: 880px;
  /* background-color: hotpink; */
  display: flex;
  align-items: center;
}
.left-content {
  width: 1000px;
  height: 800px;
  margin: 100px;
  /* background-color: aqua; */
}
.title {
  width: 1000px;
  height: 300px;
  /* background-color: gray; */
  display: flex;
  align-items: center;
}
.title > h1 {
  font-size: 80px;
  margin: 0 20px;
}
.title-high {
  color: #03ff40;
}
.title-all {
  display: inline-block;
  margin: 0 0px;
}
.ex {
  width: 1000px;
  height: 70px;
  /* background-color: gold; */
  display: flex;
  /* justify-content: center;  */
  align-items: center;
}
.ex > p {
  color: white;
  text-align: left;
  margin: 0 20px;
  font-size: larger;
}

.right {
  width: 768px;
  height: 580px;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: center;
}
.right-image {
  width: 500px;
  height: 500px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-image > img {
  width: 500px;
}
.ex {
  height: fit-content;
}
.ex > p {
  line-height: 1.5;
  margin: 50px 20px;
}
.logo-high {
  color: #03ff40;
}
.top {
  width: 1920px;
  height: 100px;
  /* background-color: antiquewhite; */
}
/* .bottom {
  width: 1920px;
  height: 300px;
  /* background-color: aquamarine; */
/* } */
.bottom > hr {
  width: 1920px;
  height: 0px;
  color: gray;
  margin: 0px 40px;
}
.bottom {
  width: 1920px;
  height: 300px;
}
.bottom > hr {
  width: 1840px;
  height: 0px;
  color: gray;
  margin: 0px 40px;
}
.bottom-content {
  height: 150px;
  /* background-color: lightcoral; */
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bottom-high {
  color: #03ff40;
}
.bottom-left {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  width: 400px;
}
.bottom-ex > p {
  margin: 4px 0 0 0;
  line-height: 1.4;
  font-size: 14px;
}
.bottom-secure {
  margin: 0 0 0 0;
  color: lightslategray;
}
.bottom-topics {
  /* background-color: aqua; */
  height: 150px;
  width: 800px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-right: 50px;
}
.bottom-topics > div {
  flex: 1;
  margin: 20px;
}
.bottom-web > ul > li {
  margin: 10px 0;
}
.bottom-app > ul > li {
  margin: 10px 0;
}
.bottom-network > ul > li {
  margin: 10px 0;
}
.bottom-title {
  margin: 20px 0 0 0;
}
.bottom-ex > p {
  margin: 10px 0;
}
.more {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin: 10px 0;
}
.more > span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  border-radius: 3px;
}
@media (max-width: 768px) {
  body {
    width: 100%;
    height: auto;
    padding-top: 80px;
    /* overflow-x: hidden; */
  }
  .navbar > .container > .logo {
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar > .container {
    display: flex;
    justify-content: space-between;
  }
  .navbar > .container > .nav {
    display: none;
  }
  .title > h1 {
    font-size: 60px;
    text-align: center;
    margin: 0 20px;
  }
  .ex > p {
    text-align: center;
    margin: 0 20px;
  }
  .bottom-topics {
    display: none;
  }
  .more {
    display: flex;
    margin: 10px;
  }
  .content {
    flex-direction: column; /* 좌우 → 위아래 */
  }
  .left {
    width: 100%;
    height: auto;
    order: 2;
  }
  .left-content {
    width: 100%;
    margin: 20px;
  }
  .title {
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .right {
    width: 100%;
    height: auto;
    order: 1;
    justify-content: center;
  }

  .right-image {
    width: 200% !important;
    height: auto !important;
    justify-content: center;
    display: flex;
    overflow: hidden;
    margin-left: -50%;
  }
  .right-image > img {
    width: 500% !important;
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 10%,
      black 80%,
      transparent 100%
    );
  }
  .ex {
    width: 100%;
    justify-content: center;
    margin-top: 15px;
  }
  .bottom {
    width: 100%;
    overflow: hidden;
  }
  .bottom > hr {
    width: 85% !important;
    margin-right: 10px !important;
  }
  .top {
    display: none;
  }
}
