* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-color: #0a0e27;
  width: 1920px;
  height: 1080px;
  padding-top: 70px;
}
.navbar {
  color: white;
  background-color: #06091a;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.container {
  padding: 20px;
}
.navbar > .container > .logo {
  font-size: x-large;
  font-weight: bold;
  text-align: left;
}
.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar > .container > .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
}
.navbar > .container > ul > li > a {
  margin: 10px;
  padding: 5px;
}
ul {
  list-style-type: none;
}
.nav > li > a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.nav > li > a:hover {
  text-decoration: underline;
  color: #03ff40;
  /* background-color: lawngreen; */
  font-size: larger;
}
.content {
  display: flex;
  flex-direction: row;
}
.left {
  width: 1152px;
  height: 1080px;
  /* background-color: beige; */
  display: flex;
  align-items: center;
}
.left-content {
  width: 1000px;
  height: 800px;
  margin: 100px;
  /* background-color: aqua; */
}
.title {
  width: 1000px;
  height: 300px;
  /* background-color: gray; */
  display: flex;
  align-items: center;
}
.title > h1 {
  font-size: 60px;
  margin: 0 20px;
}
.title-high {
  color: #03ff40;
}
.title-all {
  display: inline-block;
  margin: 0 0px;
}
.ex {
  width: 1000px;
  height: 70px;
  /* background-color: gold; */
  display: flex;
  /* justify-content: center;  */
  align-items: center;
}
.ex > p {
  color: white;
  text-align: left;
  margin: 0 20px;
  font-size: large;
}
.button {
  width: 1000px;
  height: 60px;
  /* background-color: lightpink; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center;  */
  margin: 20px auto;
}
.btn {
  width: 300px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  font-size: 17px;
}
.btn:hover {
  background-color: #03ff40;
  color: white;
}
.right {
  width: 768px;
  height: 1080px;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: center;
}
.right-image {
  width: 500px;
  height: 500px;
  /* background-color: blue; */
  margin: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-image > img {
  width: 500px;
}
